@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.woff');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./fonts/Pretendard-SemiBold.woff');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./fonts/Pretendard-ExtraBold.woff');
}
@font-face {
  font-family: 'ChangwonDangamAsacBold';
  src: url('./fonts/ChangwonDangamAsac-Bold_0712.ttf');
}

body {
  font-family: 'Pretendard-Regular';
  letter-spacing: -0.15rem;
  margin: 0;
}
